.entry-meta {
  .updated {
    line-height: 26px;
  }

  .small & {
    .updated {
      line-height: 20px;
    }
  }
}

.entry-title {
  font-family: $font-family-lora;
  line-height: 1;
}

.entry-content {
  color: $headings-color;
}
