body {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  word-wrap: break-word;
  font-size: 16px;
}

a:hover,
a:focus {
  text-decoration: none;
}

.no-radius {
  border-radius: 0;
}

.list-article {
  a {
    color: $headings-color;
  }

  .entry-title {
    font-size: rem(24);
    font-weight: 600;
    letter-spacing: -0.42px;
  }

  .entry-summary {
    font-size: rem(15);
    line-height: 20px;
  }

  .entry-meta {
    font-size: rem(13);
    line-height: 20px;

    .author {
      color: $headings-color;
    }
  }
}

.preview-image {
  background-color: $color-primary;
  background-image: url("../images/preview-img.png");
  background-position: center;
  height: 300px;
  width: 300px;
  background-repeat: no-repeat;

  @include media-breakpoint-up(md) {
    height: 150px;
    width: 150px;
  }
}

.loading {
  width: 100px;
}

.jscroll-loading {
  text-align: center;
}
