/** Import Bootstrap functions */
@import "~bootstrap/scss/functions";

$theme-colors: (
  primary: #525ddc
);

$font-family-roboto:    'Roboto', sans-serif;
$font-family-opensans:  'Open Sans', sans-serif;

/* Base */
$base-font-size:        16;
$font-family-base:      $font-family-roboto;
$font-weight-base:      400;
$body-color:            #5e5e5e;
$second-color:          #232323;

$headings-font-family:  $font-family-opensans;
$headings-font-weight:  700;
$headings-color:        $second-color;

$container-max-widths: (
  lg: 953px,
  xl: 953px
) !default;
